h2 Upload a torrent

form(id='upload-form', method='post', enctype='multipart/form-data')
  ul
    li
      label(for='upload-file') File
      input(type='file', name='torrent', id='upload-file')
    li
      label(for='upload-url') URL
      input(name='torrenturl', id='upload-url')
    li
      label(for='upload-external') Use External Tracker already in torrent
      input(name='useexternaltracker', id='upload-external', type='checkbox')
    li
      label(for='upload-title') Title (optional)
      input(name='title', id='upload-title')
    li
      label(for='upload-category') Category
      select(name='category', id='upload-category')
        - each cat_options, category in categories
          option(value=category)= category
    li
      label(for='upload-description') Description
      textarea(id='upload-description', name='description')
    li
      input(type='submit', value='Upload', id='upload-submit')

