h1= title

h2 Dates
p Last logged on #{humanize_date(user.lastLogin)}. Registered #{humanize_date(user.joinDate)}.

h2 Uploads (#{torrents.length})
!= partial('torrents/torrenttable.jade', {object: torrents})

